<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Shop</title>
  </head>
  
  <body>
    <form action="/checkout" method="POST">
      Name of Item: <input type = "text"
    </form>
  </body>
</html>
